
//- jumblr - Standard Tumblr block
//- {type}  (String)
mixin jumblr(type)
  ='{block:' + type + '}'
  block
  ='{/block:' + type + '}'

//- jumblrStr - Standard Tumblr block for strings
//- {type}    (String)
//- {content} (String)
//- returns   jumblrStr
mixin jumblrStr(type, content)
  - jumblrStr = '{block:' + type + '}' + content + '{/block:' + type + '}'

//- jumblrStrList - Standard Tumblr block list as string
//- {listObject}    (Object)
//- returns         jumblrStrList
mixin jumblrStrList(listObject)
  if jumblrStrList == undefined || jumblrStrList != ""
    - jumblrStrList = ""
  each content, type in listObject
    - jumblrStrList += '{block:' + type + '}' + content + '{/block:' + type + '}'

//- jumblrVar - Standard Tumblr variable
//- {type}          (String)
//- {preWhitespace} (Boolean)
mixin jumblrVar(type, preWhitespace)
  - preWhitespace = preWhitespace || false
  if preWhitespace
    = " {" + type + "}"
    block
  else
    = "{" + type + "}"
    block
