
//- jumblr - Standard tumblr block
//- {type}  (String)
mixin jumblr(type)
  ='{block:' + type + '}'
  block
  ='{/block:' + type + '}'

//- jumblrStr - Standard tumblr block for strings
//- {type}    (String)
//- {content} (String)
//- returns   jumblrStr
mixin jumblrStr(type, content)
  - jumblrStr = '{block:' + type + '}' + content + '{/block:' + type + '}'

//- jumblrStrList - Standard tumblr block list as string
//- {listObject}   (Object)
//- returns   jumblrStrList
mixin jumblrStrList(listObject)
  if jumblrStrList == undefined || jumblrStrList != ""
    - jumblrStrList = ""
  each content, type in listObject
    - jumblrStrList += '{block:' + type + '}' + content + '{/block:' + type + '}'
